attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
idna==2.10
importlib-metadata==3.1.0
iniconfig==1.1.1
Naked==0.1.31
netifaces==0.10.9
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycryptodome==3.8.2
pycurl==7.43.0.3
pycurl-requests==0.1.1
pyparsing==2.4.7
pytest==6.1.2
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
zipp==3.4.0
