beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
idna==2.10
Naked==0.1.31
netifaces==0.10.9
pycryptodome==3.8.2
PyYAML==5.3.1
requests==2.25.0
requests-toolbelt==0.9.1
soupsieve==2.0.1
urllib3==1.26.2
